*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    font-weight: bold;
}
#total{
    width: 80px;
    padding: 10px;
}
#alert{
    background-color: rgb(250, 250, 250);
    
   width: 50%;
    padding: 20px;
    height: 60%;
    text-align: center;
    display: flex;
    position: absolute;
   align-self: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 25px;
    border-radius: 10px;
    color: black;
    }
    #alert button{
        width: 80px;
        padding: 8px;
        border-radius: 10px;
        border: none;
        background-color: rgb(70, 141, 221);
        color: white;
        transition: all 0.5s;
    }
    #alert button:hover{
        background-color: rgb(15, 103, 203);
    }

body{
    background-color: rgb(110, 107, 107);
    text-align: center;
    display: flex;
    align-items: flex-start;
 
    overflow-x: hidden;
}
h1{
    color: white;
    font-weight: bold;

}
html{
    scroll-behavior: smooth;
}
tr{
    display: table-row
}
#inp1,#inp6,#inp7,button,#search{
   
    background-color: black;
    color: white;
    border: none;
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border-radius: 8px;
}
.divinp{
    width: 100%;
   
    margin-top: 5px;
    display: flex;
    gap: 8px;
    align-items: center;
   

}

button:hover{
    transform: scale(1.2);
    background-color: rgb(129, 87, 169);
}
.divform{
display: flex;
flex-direction: column;
  width: 98%;
position: relative;
top: 40px;
}
.inputs{
    width: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    gap: 4px;
 margin-top: 50px;
}
.divinp span{
  width: 140px;
    height: 30px;
    padding: 6px;
    display: flex;
    align-items: center;
    background-color: red;
    border-radius: 8px;
color: white;
}
.divinp input{
   width: 10%;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
}
#inp6,#inp7,#search{
    margin-top: 5px;
}
button{
    background-color: rgb(82, 38, 123);
    border-radius: 300px;
    padding: 8px;
    width: 100%;
     cursor: pointer;
    margin-top: 5px;
    transition: all 0.5s;
}
.btn3{
    width: 45%;
    position: absolute;
    right: 0;
}
.btn2{
    width: 45%;
    position: absolute;
    left: 0;
}
.buttons{
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
   position: relative;

   
 
}
table{
    color: white;
    width: 80%;

    margin-top: 60px;
    
}
.table{
    display: flex;
    
justify-content: center;
font-weight: bold;

}
th{
   padding: 10px; 
}
.numero{
    position: absolute;
    right: 2%;
    top: 5%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.spn1{
    color: green;
}






@media screen and (max-width:768px) {
    .divform{
       
        width: 95%;
        margin: 0 auto;
    }

.table{
width: 100%;


}
table{
    width: 100%;
    transform: scaleX(0.9);
}
.numero{
    display: none;
}
}

#delete:hover{
   transform: scale(1.2);
}

#update:hover{
    transform: scale(1.2);
 }
@media screen and (max-width:650px) {
    #inp1,#inp6,#inp7,button,#search{
        width: 100%;
        
    }
    .inputs{
        width: 100%;
    }
    .table{
        display: flex;
        transform: scaleX(0.8);


margin: 0 auto;
position: relative;
 top: 0;
width: 80%;
    }
    .table table tr td{
padding: 7px 0;
    }
}




@media screen and (max-width:500px) {
    .divform{
       
        width: 95%;
        margin: 0 auto;
    }

table{
    width: 100%;
    

    transform: scaleX(0.78);
}


.numero{
   display: none;
}
}
.lien{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 7px;
    transition: all 0.5s;
}
.lien:hover{
    transform: scale(1.2);
    background-color: rgb(255, 54, 54);
}
.email{
    color: rgb(255, 54, 54);
}